<!-- booksの一覧画面 -->
<% if @book.errors.any? %> 
　　　　　<%= pluralize(@book.errors.count,"error") %>
 <ul> 
  <% @book.errors.full_messages.each do |msg| %> 
     <li><%= msg %></li> 
     <% end %> 
  </ul> 
  <% end %>

<div class="row">
<%= render 'users/userinfo_newbook', users: @user %><!-- usersコントローラーの該当のアクションの@userから参照 -->
	<div class="col-xs-9">
		<h2>Books</h2>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Opinion</th>
					<th colspan="3"></th><!-- colspan属性には、水平方向のセルの結合数（セルがまたがる列数）を指定 -->
				</tr>
			</thead>
			<tbody>
				<% @books.each do |book| %><!-- ctrlの@users=User.allより引用するので@は複数形 -->
				<tr>
					<!-- セル１ -->
					<td><%= link_to (book.user) do %>
							<%= attachment_image_tag book.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size:'50x50' %>
							<% end %>
					</td>
					<!-- セル２ -->
					<td><%= link_to book.title, book_path(book) %></td>
					<!-- セル３ -->
					<td><%= book.body %></td><!-- ここの引数は@いらない eachの|book|が関係-->
				</tr>
				<% end %><!-- eachメソッドのエンド忘れない！ -->
			</tbody>
		</table>
	</div>
</div>